Package: com.551.islandbatterynotch
Name: Island Battery Notch
Version: 0.2.8
Architecture: iphoneos-arm64
Description: Symmetric battery arcs around the Dynamic Island, continuously visible on Lock Screen, Home Screen and apps. iPhone 14 Pro Max, iOS 16 rootless.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
